head
  title NowJS+Express+Jade Example
  script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  script(type="text/javascript", src="/nowjs/now.js")