extends layout
block content
  h1 test
  p welcome
  p This is an example of an embedded chat window added to any site. 
    a(href='#', id='chat') Chat with us
  div(id='floater', style='position: absolute; right: 0; top:0; width:25%; height:100%;')
  script(src='/javascript/index.js')